.DS_Store
.vscode
.vscode/*
.venv

__pycache__
__pycache__/*
.pytest_cache

_*
!__init__.py

*.pt
*.pth
*.onnx
*.keras
*.zip
.env

mlruns
logs
logs/*


*.pdf

logging/*
models/*

# ignore large datasets
Datasets/*
!Datasets/synth_seq2seq_in2_out1-9_r1-20_n5000.csv